.main-info-content {
  background-color: #f9f9fa;
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  height: 25rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.month-day {
  display: inline-block;
  padding-bottom: 0.625rem;
  border-bottom: 3px solid #00dda0;
}

.location-info {
  width: 50%;
  display: flex;
}

.circle-and-arrow {
  width: 4.3rem;
  display: grid;
  grid-template-rows: 50px 50px;
  grid-gap: 1.5rem;
}

.circle {
  border-radius: 50%;
  border: 3px solid #00dda0;
  height: 0.9rem;
  width: 0.9rem;
  display: flex;
  align-self: center;
}

.locations {
  display: flex;
  flex-direction: column;
  gap: 1.56rem;
  width: 100%;
}

.from-locations {
  height: 3.1rem;
}

.to-locations {
  height: 3.1rem;
}

.first-row {
  display: flex;
  justify-content: space-between;
}

.location-title {
  font-weight: bold;
  display: flex;
}

.location-address {
  font-size: 0.8rem;
  font-weight: bold;
  color: #8c949e;
}

.location-datetime {
  font-weight: bold;
  color: #919aa5;
}

.flight-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.flight-first-row {
  width: 50%;
  background-color: #f1f1f3;
  border-radius: 25px;
  height: 3.1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flight-second-row {
  width: 50%;
  background-color: #f1f1f3;
  border-radius: 25px;
  height: 3.1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-and-text {
  display: flex;
  gap: 0.6rem;
  color: #8d96a1;
  font-weight: bold;
}

.icon-and-text > svg {
  height: 1.4rem;
  width: 1.4rem;
}

.on-time {
  font-weight: bold;
  color: #00c890;
}

.flight-second-row > span + .flight-second-row > span {
  border-left: solid 1px white;
}

.separator {
  background: #e1e2e6;
  width: 1px;
  height: 70%;
}

.location-info.mobile {
  width: 100%;
}

.flight-first-row.mobile {
  width: 100%;
  background-color: white;
  border: 2px solid #eceeef;
  border-radius: 50px;
}

.flight-second-row.mobile {
  width: 100%;
  background-color: white;
  border-radius: 50px;
  border: 2px solid #eceeef;
}

.main-info-content.mobile {
  background-color: white;
  gap: 2rem;
  height: unset;
  padding: 0;
  margin: 1.5rem 2.5rem 1.5rem 2.5rem;
  border-bottom: 2px solid #e5e6e9;
  width: unset;
  padding-bottom: 2rem;
  border-radius: 0;
}
